AddHandler fastcgi-script .fcgi
AddHandler cgi-script .cgi
Options +FollowSymLinks +ExecCGI

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ vanilla.cgi [QSA,L]
# RewriteRule ^(.*)$ vanilla.fcgi [QSA,L]
